<!Doctype>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시글 작성 폼</title>
</head>

<style>
    .layout {width : 500px; margin : 0 auto; margin-top : 40px;}
    .layout input, textarea{width : 100%; box-sizing: border-box; margin-top : 10px;}
    .layout input{min-height : 40px;}
    .layout textarea{min-height : 300px;}
    .layout button{margin-top : 10px; padding : 10px 20px;}
</style>


<body>
    <div class = "layout">
        <form action="/board/writepro", method="post">
            <input name="title" type="text" placeholder="제목을 입력해주세요">
            <textarea name="content" placeholder="내용을 입력해주세요"></textarea>
            <button type="submit">작성</button>
        </form>
    </div>
</body>
</html>